<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/TestCase.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_KEY" value="key" force="false"/>
        <env name="API_SECRET" value="secret" force="false"/>
        <env name="API_PASSPHRASE" value="passphrase" force="false"/>
        <env name="API_BASE_URI" value="https://openapi-v2.kucoin.com" force="false"/>
    </php>
</phpunit>
